<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Careers</title>
  
</head>
<body>
  <h1>Jovial Careers</h1>
  <img src="../static/banner.jpg" height="320">
  <p>Welcome to Jovial, a career website that connects talented professionals with exciting job opportunities at top companies. At Jovial, we understand the importance of finding the right fit when it comes to your career, and we're dedicated to helping you achieve your goals. Our mission is to provide a seamless platform that enables job seekers to browse and apply for positions with ease. With a range of industries and roles available, we aim to help you take your career to the next level. Discover your perfect job match and reach for the stars with Jovial.</p>
  <h2>Open Positions</h2>
  <p>No openings yet</p>
  <button>Contact Us</button>
  <p>Copyright 2023, Jovial</p>
</body>
</html>