<style>
  .title{
    color: rgb(70,70,70);
  }
  .location{
    color: gray;
  }
</style>

<div class="row border-bottom mb-2 justify-content-center align-items-center">
  <div class="col-8 mb-2">
    <h4 class="title mb-2">
      {{job["title"]}}
    </h4>
    <p class="location mb-2">
      Location: {{job["location"]}}
    </p>
  </div>
  <div class="col-4 text-end mb-2">
    {% if 'salary' in job %}
      <p class="mb-2">
        <b>Salary:</b> {{job["salary"]}}
      </p>
    {% endif %}
    <a href="mailto:ceelxx@gmail.com?subject=Application%20for%{{job['title']}}&body=Name%3A%20%3Center%20here%3E%0D%0AResume%3A%20%3Center%20here%3E%0D%0AGithub%3A%20%3Center%20here%3E%0D%0AWhy%20do%20you%20want%20to%20join%20us%3F%3A%20%3Center%20here%3E%0D%0A%0D%0A" type="button" class="mb-2 btn btn-outline-info btn-sm">Apply</a>
  </div>
  
</div>